
@{
    ViewBag.Title = "All_Suppliers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">

    <!--Start Supplier  form -->
    <div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
                DATA TABLES
            </h3>
            <div class="example-box-wrapper">
                <form class="form-horizontal bordered-row" id="demo-form" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Suplier Name</th>
                                        <th>Supplier Id</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>View</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>12345</td>
                                        <td>john@gmail.com</td>
                                        <td>1234567890</td>
                                        <td><i class="fa fa-eye" aria-hidden="true"></i> </td>

                                        <td>
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </td>
                                        <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- WIDGETS -->
    <script type="text/javascript" src="/Content/assets/bootstrap/js/bootstrap.js"></script>
    <!-- Bootstrap Dropdown -->
    <!-- <script type="text/javascript" src="/Content/assets/widgets/dropdown/dropdown.js"></script> -->
    <!-- Bootstrap Tooltip -->
    <!-- <script type="text/javascript" src="/Content/assets/widgets/tooltip/tooltip.js"></script> -->
    <!-- Bootstrap Popover -->
    <!-- <script type="text/javascript" src="/Content/assets/widgets/popover/popover.js"></script> -->
    <!-- Bootstrap Progress Bar -->
    <script type="text/javascript" src="/Content/assets/widgets/progressbar/progressbar.js"></script>
    <!-- Bootstrap Buttons -->
    <!-- <script type="text/javascript" src="/Content/assets/widgets/button/button.js"></script> -->
    <!-- Bootstrap Collapse -->
    <!-- <script type="text/javascript" src="/Content/assets/widgets/collapse/collapse.js"></script> -->
    <!-- Superclick -->
    <script type="text/javascript" src="/Content/assets/widgets/superclick/superclick.js"></script>
    <!-- Input switch alternate -->
    <script type="text/javascript" src="/Content/assets/widgets/input-switch/inputswitch-alt.js"></script>
    <!-- Slim scroll -->
    <script type="text/javascript" src="/Content/assets/widgets/slimscroll/slimscroll.js"></script>
    <!-- Slidebars -->
    @*<script type="text/javascript" src="/Content/assets/widgets/slidebars/slidebars.js"></script>
    <script type="text/javascript" src="/Content/assets/widgets/slidebars/slidebars-demo.js"></script>*@
    <!-- PieGage -->
    <script type="text/javascript" src="/Content/assets/widgets/charts/piegage/piegage.js"></script>
    <script type="text/javascript" src="/Content/assets/widgets/charts/piegage/piegage-demo.js"></script>
    <!-- Screenfull -->
    <script type="text/javascript" src="/Content/assets/widgets/screenfull/screenfull.js"></script>
    <!-- Content box -->
    <script type="text/javascript" src="/Content/assets/widgets/content-box/contentbox.js"></script>
    <!-- Overlay -->
    <script type="text/javascript" src="/Content/assets/widgets/overlay/overlay.js"></script>
    <!-- Widgets init for demo -->
    <script type="text/javascript" src="/Content/assets/js-init/widgets-init.js"></script>
    <!-- Theme layout -->
    <script type="text/javascript" src="/Content/assets/themes/admin/layout.js"></script>
    <!-- Theme switcher -->
    <script type="text/javascript" src="/Content/assets/widgets/theme-switcher/themeswitcher.js"></script>
</div>
