
@{
    ViewBag.Title = "blog_left";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="inner-banner">
    <div class="thm-container">
        <h2>Blog Left Bar</h2>
        <ul class="breadcumb">
            <li><a href=@Url.Action("/Index")><i class="fa fa-home"></i> Home</a></li>
            <li><span>Blog Left Bar</span></li>
        </ul>
    </div>
</section>


<section class="sec-padding blog-page">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-4 pull-left">
                <div class="single-sidebar-widget">
                    <div class="search-box">
                        <form action="#">
                            <input type="text" placeholder="Enter Search Keywords">
                            <button type="submit"><i class="icon icon-Search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="single-sidebar-widget">
                    <div class="sec-title">
                        <h2><span>Categories</span></h2>
                    </div>
                    <div class="categories">
                        <ul>
                            <li><a href="#">Logistic Cargo Network</a></li>
                            <li><a href="#">Warehouse Management</a></li>
                            <li><a href="#">Road Way Delivery</a></li>
                            <li><a href="#">Shipment of Products</a></li>
                            <li><a href="#">Warehouse and Goods</a></li>
                            <li><a href="#">Air Frieght</a></li>
                        </ul>
                    </div>
                </div>
                <div class="single-sidebar-widget">
                    <div class="sec-title">
                        <h2><span>Popular Posts</span></h2>
                    </div>
                    <div class="popular-post">
                        <ul>
                            <li class="img-cap-effect">
                                <div class="img-box">
                                    <img src="/Content/images/popular-post1.jpg" alt="Awesome Image" />
                                    <div class="img-caption">
                                        <div class="box-holder">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <a href="#"><h4>Duisau irure dolor</h4></a>
                                    <p>Warehouse management systems can calculate the weight of orders.</p>
                                    <span>02 Dec</span>
                                </div>
                            </li>
                            <li class="img-cap-effect">
                                <div class="img-box">
                                    <img src="/Content/images/popular-post2.jpg" alt="Awesome Image" />
                                    <div class="img-caption">
                                        <div class="box-holder">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <a href="#"><h4>Duisau irure dolor</h4></a>
                                    <p>Warehouse management systems can calculate the weight of orders.</p>
                                    <span>02 Dec</span>
                                </div>
                            </li>
                            <li class="img-cap-effect">
                                <div class="img-box">
                                    <img src="/Content/images/popular-post3.jpg" alt="Awesome Image" />
                                    <div class="img-caption">
                                        <div class="box-holder">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <a href="#"><h4>Duisau irure dolor</h4></a>
                                    <p>Warehouse management systems can calculate the weight of orders.</p>
                                    <span>02 Dec</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="single-sidebar-widget">
                    <div class="sec-title">
                        <h2><span>Text widget</span></h2>
                    </div>
                    <div class="text-box">
                        <p>Most systems offer the ability to use advanced tracking systems, such as auto ID data capture,barcode scanners or radio-frequency identification (RFID) to ensure that inventory is correctly logged and easily located when the time comes for it to move.</p>
                    </div>
                </div>
                <div class="single-sidebar-widget">
                    <div class="sec-title">
                        <h2><span>instagram feed</span></h2>
                    </div>
                    <div class="insta-feed">
                        <ul>
                            <li class="img-cap-effect">
                                <div class="img-box">
                                    <img src="/Content/images/insta-feed1.jpg" alt="Awesome Image" />
                                    <div class="img-caption">
                                        <div class="box-holder">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="img-cap-effect">
                                <div class="img-box">
                                    <img src="/Content/images/insta-feed2.jpg" alt="Awesome Image" />
                                    <div class="img-caption">
                                        <div class="box-holder">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="img-cap-effect">
                                <div class="img-box">
                                    <img src="/Content/images/insta-feed3.jpg" alt="Awesome Image" />
                                    <div class="img-caption">
                                        <div class="box-holder">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="img-cap-effect">
                                <div class="img-box">
                                    <img src="/Content/images/insta-feed4.jpg" alt="Awesome Image" />
                                    <div class="img-caption">
                                        <div class="box-holder">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="img-cap-effect">
                                <div class="img-box">
                                    <img src="/Content/images/insta-feed5.jpg" alt="Awesome Image" />
                                    <div class="img-caption">
                                        <div class="box-holder">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="img-cap-effect">
                                <div class="img-box">
                                    <img src="/Content/images/insta-feed6.jpg" alt="Awesome Image" />
                                    <div class="img-caption">
                                        <div class="box-holder">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="single-sidebar-widget">
                    <div class="sec-title">
                        <h2><span>Tag clouds</span></h2>
                    </div>
                    <div class="tag-cloud">
                        <ul>
                            <li><a href="#">Warehouse</a></li>
                            <li><a href="#">Ocean frieght</a></li>
                            <li><a href="#">logistic</a></li>
                            <li><a href="#">land transport</a></li>
                            <li><a href="#">cost shipment</a></li>
                            <li><a href="#">Air frieght</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 pull-right">

                <div class="single-post-wrapper">

                    <article class="single-blog-post img-cap-effect">
                        <div class="img-box">
                            <img src="/Content/images/blog-page/1.jpg" alt="Awesome Image" />
                            <div class="img-caption">
                                <div class="box-holder">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="meta-info">
                            <div class="date-box">
                                <div class="inner-box">
                                    <b>02</b>
                                    Dec
                                </div>
                            </div>
                            <div class="content-box">
                                <h3>Cost for shipment of product</h3>
                                <ul class="post-links">
                                    <li><a href="#"><i class="fa fa-user"></i> By:  Michale John</a></li>
                                    <li><a href="#"><i class="fa fa-tag"></i> Delivery across country</a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i> Comments: 8</a></li>
                                </ul>
                            </div>
                        </div>
                        <p>A low perfect order rate indicates that your products aren’t leaving the warehouse on time, items are being returned, and shipments aren’t arriving on time.</p>
                        <a href="#" class="read-more">Read More</a>
                    </article>

                    <article class="single-blog-post img-cap-effect">
                        <div class="img-box">
                            <img src="/Content/images/blog-page/2.jpg" alt="Awesome Image" />
                            <div class="img-caption">
                                <div class="box-holder">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="meta-info">
                            <div class="date-box">
                                <div class="inner-box">
                                    <b>02</b>
                                    Dec
                                </div>
                            </div>
                            <div class="content-box">
                                <h3>Cost for shipment of product</h3>
                                <ul class="post-links">
                                    <li><a href="#"><i class="fa fa-user"></i> By:  Michale John</a></li>
                                    <li><a href="#"><i class="fa fa-tag"></i> Delivery across country</a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i> Comments: 8</a></li>
                                </ul>
                            </div>
                        </div>
                        <p>A low perfect order rate indicates that your products aren’t leaving the warehouse on time, items are being returned, and shipments aren’t arriving on time.</p>
                        <a href="#" class="read-more">Read More</a>
                    </article>

                    <article class="single-blog-post img-cap-effect">
                        <div class="img-box">
                            <img src="/Content/images/blog-page/3.jpg" alt="Awesome Image" />
                            <div class="img-caption">
                                <div class="box-holder">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="meta-info">
                            <div class="date-box">
                                <div class="inner-box">
                                    <b>02</b>
                                    Dec
                                </div>
                            </div>
                            <div class="content-box">
                                <h3>Cost for shipment of product</h3>
                                <ul class="post-links">
                                    <li><a href="#"><i class="fa fa-user"></i> By:  Michale John</a></li>
                                    <li><a href="#"><i class="fa fa-tag"></i> Delivery across country</a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i> Comments: 8</a></li>
                                </ul>
                            </div>
                        </div>
                        <p>A low perfect order rate indicates that your products aren’t leaving the warehouse on time, items are being returned, and shipments aren’t arriving on time.</p>
                        <a href="#" class="read-more">Read More</a>
                    </article>

                    <article class="single-blog-post img-cap-effect">
                        <div class="img-box">
                            <img src="/Content/images/blog-page/4.jpg" alt="Awesome Image" />
                            <div class="img-caption">
                                <div class="box-holder">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="meta-info">
                            <div class="date-box">
                                <div class="inner-box">
                                    <b>02</b>
                                    Dec
                                </div>
                            </div>
                            <div class="content-box">
                                <h3>Cost for shipment of product</h3>
                                <ul class="post-links">
                                    <li><a href="#"><i class="fa fa-user"></i> By:  Michale John</a></li>
                                    <li><a href="#"><i class="fa fa-tag"></i> Delivery across country</a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i> Comments: 8</a></li>
                                </ul>
                            </div>
                        </div>
                        <p>A low perfect order rate indicates that your products aren’t leaving the warehouse on time, items are being returned, and shipments aren’t arriving on time.</p>
                        <a href="#" class="read-more">Read More</a>
                    </article>

                </div>

                <ul class="page-navigation text-left">
                    <li><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
                </ul>

            </div>
        </div>
    </div>
</section>



