
@{
   
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="inner-banner">
    <div class="thm-container">
        <h2>Our Clients</h2>
        <ul class="breadcumb">
            <li><a href=@Url.Action("/Index")><i class="fa fa-home"></i> Home</a></li>
            <li><span>Our Clients</span></li>
        </ul>
    </div>
</section>


<section class="sec-padding">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-4 col-sm-12 pull-left">
                <div class="single-sidebar-widget">
                    <div class="special-links">
                        <ul>
                            <li><a href=@Url.Action("/Company_history")>Company History</a></li>
                            <li ><a href=@Url.Action("/Career")>Career</a></li>
                            <li><a href=@Url.Action("/Faq")>FaQs</a></li>
                            <li class="active"><a href=@Url.Action("/Clients")>Our Clients</a></li>
                            <li><a href=@Url.Action("/Testimonials")>Testimonials</a></li>
                            <li><a href="#">track your shipment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="single-sidebar-widget">
                    <div class="sec-title">
                        <h2><span>Download brochure</span></h2>
                    </div>
                    <div class="dwnld-broucher">
                        <img src="/Content/images/dwnld-broucher.png" alt="Awesome Image" />
                        <a href="#">download as pdf &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 pull-right">
                <div class="sec-title">
                    <h2><span>Our Clients</span></h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam eius modi.</p>
                </div>

                <div class="single-client-box">
                    <div class="icon-box">
                        <img src="/Content/images/client-box/1.jpg" alt="Awesome Image" />
                    </div>
                    <div class="content">
                        <h3>coffee Chocolate ltd.</h3>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numq uam eius modi te mpora porro quis- quam est, qui dolorem ipsum quia.</p>
                    </div>
                </div>
                <div class="single-client-box">
                    <div class="icon-box">
                        <img src="/Content/images/client-box/2.jpg" alt="Awesome Image" />
                    </div>
                    <div class="content">
                        <h3>fisherman ltd.</h3>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numq uam eius modi te mpora porro quis- quam est, qui dolorem ipsum quia.</p>
                    </div>
                </div>
                <div class="single-client-box">
                    <div class="icon-box">
                        <img src="/Content/images/client-box/3.jpg" alt="Awesome Image" />
                    </div>
                    <div class="content">
                        <h3>mountainbike ltd.</h3>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numq uam eius modi te mpora porro quis- quam est, qui dolorem ipsum quia.</p>
                    </div>
                </div>
                <div class="single-client-box">
                    <div class="icon-box">
                        <img src="/Content/images/client-box/4.jpg" alt="Awesome Image" />
                    </div>
                    <div class="content">
                        <h3>coffee Chocolate ltd.</h3>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numq uam eius modi te mpora porro quis- quam est, qui dolorem ipsum quia.</p>
                    </div>
                </div>
                <div class="single-client-box">
                    <div class="icon-box">
                        <img src="/Content/images/client-box/5.jpg" alt="Awesome Image" />
                    </div>
                    <div class="content">
                        <h3>Market pvt.  ltd.</h3>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numq uam eius modi te mpora porro quis- quam est, qui dolorem ipsum quia.</p>
                    </div>
                </div>
                <div class="single-client-box">
                    <div class="icon-box">
                        <img src="/Content/images/client-box/6.jpg" alt="Awesome Image" />
                    </div>
                    <div class="content">
                        <h3>mountain pvt.  ltd.</h3>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numq uam eius modi te mpora porro quis- quam est, qui dolorem ipsum quia.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


