
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
    <div class="row back register">
        <div class="col-md-7 col-sm-6 col-xs-12 pull-left">
            <form id="formLogin" class="contact-form contact-page" method="post" enctype="multipart/form-data">
                <h1 class="register" style="color: white;">Login Here</h1>
                <label class="register" style="color: white;">User ID</label>

                <p class="r">
                    <input type="text" id="userid" placeholder="User ID" name="uid">


                </p>

                <!-- <p><input type="text" placeholder="Email" name="email"></p> -->
                <label style="color: white;">Password</label>

                <p>
                    <input type="password" placeholder="Password" name="pwd" id="pwd">
                </p>

                <label style="color: white;">User type</label>

                <p calss="r">
                    <select class="select-menu" name="selectMenu" id="ltype" style="width:638px;height:50px;">
                        <option value="default">Login Type...!</option>
                        <option value="Admin">Admin</option>
                        <option value="SubIncharge">Subincharge</option>
                        <option value="Supplier">Supplier</option>
                        <!-- <option value="Ware Housing">Ware Housing</option>	 -->
                        <!-- <option value="Ware Housing">Ware Housi/ng</option>	 -->
                    </select>
                </p>
                <!-- <p><textarea name="message" placeholder="Message"></textarea></p> -->
                <button type="submit" class="thm-btn register" id="btnLogin">Login <i class="fa fa-arrow-right"></i></button>
                <span id="msg"></span>
            </form>


        </div>
        <script language="javascript">
            function ValidateUser() {
                $("#msg").hide();
                var userid = $("#userid").attr('value');
                var password = $("#password").attr('value');
                var logintype = $("#ltype").attr('value');
                var url = "/Home/ValidateUser/";
                $("#btnLogin").val('Plesae wait..');
                $.ajax({
                    url: url,
                    data: { userId: userid, pass: password, ltype=logintype },
                    dataType: JSON,
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        if (data == true) {
                            window.location.href = '@Url.Action("Main", "Admin")';
                        }
                        $("#txtuserid").attr({ 'value': '' });
                        $("#txtpassword").attr({ 'value': '' });
                    },
                    error: function (data) {
                         
                        if (data == "false") {
                            $("#msg").html("login failed");
                            $("#msg").show();
                        }
                        else {
                            $("#msg").hide();
                        }
                         
                    }
                });
                $("#btnlogin").val('Login');
            }
        </script>
    </div>
</div>

