
@{
   
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="inner-banner">
    <div class="thm-container">
        <h2>Our Pricing</h2>
        <ul class="breadcumb">
            <li><a href=@Url.Action("/Index")><i class="fa fa-home"></i> Home</a></li>
            <li><span>Our Pricing</span></li>
        </ul>
    </div>


</section>


<section class="sec-padding page-title">
    <div class="thm-container">
        <div class="sec-title">
            <h2><span>OUr affordable prices</span></h2>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
        </div>
    </div>
</section>


<section class="sec-padding pt0">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-pricing-box">
                    <div class="pricing-top-bar">
                        basic fright
                    </div>
                    <div class="price-box">
                        <span class="currency">$</span><span class="amount">150</span>/150 km
                    </div>
                    <div class="feature-list">
                        <ul>
                            <li>Single covered truck</li>
                            <li>Three men for transport</li>
                            <li>Minimum 15 miles</li>
                            <li>Maximum 150 miles</li>
                            <li>Insurance</li>
                            <li>Additional trucks available</li>
                        </ul>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="thm-btn">signup now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-pricing-box">
                    <div class="pricing-top-bar">
                        Cooling fright
                    </div>
                    <div class="price-box">
                        <span class="currency">$</span><span class="amount">250</span>/150 km
                    </div>
                    <div class="feature-list">
                        <ul>
                            <li>Single covered truck</li>
                            <li>Three men for transport</li>
                            <li>Minimum 15 miles</li>
                            <li>Maximum 150 miles</li>
                            <li>Insurance</li>
                            <li>Additional trucks available</li>
                        </ul>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="thm-btn">signup now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-pricing-box">
                    <div class="pricing-top-bar">
                        super fast fright
                    </div>
                    <div class="price-box">
                        <span class="currency">$</span><span class="amount">550</span>/150 km
                    </div>
                    <div class="feature-list">
                        <ul>
                            <li>Single covered truck</li>
                            <li>Three men for transport</li>
                            <li>Minimum 15 miles</li>
                            <li>Maximum 150 miles</li>
                            <li>Insurance</li>
                            <li>Additional trucks available</li>
                        </ul>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="thm-btn">signup now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-padding pt0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h2><span>Frequently ask questions</span></h2>
                </div>
                <div class="faq-question-one">
                    <div class="single-faq">
                        <h3>Can I change plans at anytime?</h3>
                        <p>Curabitur ac odio aliquam, pellentesque sem feugiat, mattis lectus. Pellentesque a dui ullamcorper, interdum odio vel, placerat nisi.</p>
                    </div>
                    <div class="single-faq">
                        <h3>Can I get a refund?</h3>
                        <p>CMorbi commodo hendrerit elementum. Aliquam non sapien dignissim, pharetra sapien eu, semper urna. Integer semper laoreet massa, id elementum neque pharetra sit amet. Phasellus nec massa in mi ultrices tristique sed eu libero.</p>
                    </div>
                    <div class="single-faq">
                        <h3>How do I sign up?</h3>
                        <p>Nam libero orci, rhoncus id est vitae, vehicula venenatis nunc.</p>
                    </div>
                    <div class="single-faq">
                        <h3>What is meant by Super Fast Frieght?</h3>
                        <p>Donec posuere dolor nunc, a tristique velit hendrerit at. Fusce feugiat rutrum turpis in dictum. Sed a pulvinar augue.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

