
@{
    
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section class="inner-banner">
    <div class="thm-container">
        <h2>Team</h2>
        <ul class="breadcumb">
            <li><a href=@Url.Action("/Index")><i class="fa fa-home"></i> Home</a></li>
            <li><span>Team</span></li>
        </ul>
    </div>
</section>



<section class="sec-padding page-title">
    <div class="thm-container">
        <div class="sec-title">
            <h2><span>MEET OUR TEAM</span></h2>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
        </div>
    </div>
</section>


<section class="team-section sec-padding team-page">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member img-cap-effect">
                    <div class="img-box">
                        <img src="/Content/images/team/1.jpg" alt="Awesome Image" />
                        <div class="img-caption">
                            <div class="box-holder">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="name-box">
                            <h3>Jenefir White</h3>
                            <span>Supervisor</span>
                        </div>
                        <p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
                    </div>
                    <a href="#" class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member img-cap-effect">
                    <div class="img-box">
                        <img src="/Content/images/team/2.jpg" alt="Awesome Image" />
                        <div class="img-caption">
                            <div class="box-holder">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="name-box">
                            <h3>Jenefir White</h3>
                            <span>Supervisor</span>
                        </div>
                        <p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
                    </div>
                    <a href="#" class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member img-cap-effect">
                    <div class="img-box">
                        <img src="/Content/images/team/3.jpg" alt="Awesome Image" />
                        <div class="img-caption">
                            <div class="box-holder">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="name-box">
                            <h3>Jenefir White</h3>
                            <span>Supervisor</span>
                        </div>
                        <p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
                    </div>
                    <a href="#" class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member img-cap-effect">
                    <div class="img-box">
                        <img src="/Content/images/team/4.jpg" alt="Awesome Image" />
                        <div class="img-caption">
                            <div class="box-holder">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="name-box">
                            <h3>Jenefir White</h3>
                            <span>Supervisor</span>
                        </div>
                        <p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
                    </div>
                    <a href="#" class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member img-cap-effect">
                    <div class="img-box">
                        <img src="/Content/images/team/1.jpg" alt="Awesome Image" />
                        <div class="img-caption">
                            <div class="box-holder">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="name-box">
                            <h3>Jenefir White</h3>
                            <span>Supervisor</span>
                        </div>
                        <p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
                    </div>
                    <a href="#" class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member img-cap-effect">
                    <div class="img-box">
                        <img src="/Content/images/team/2.jpg" alt="Awesome Image" />
                        <div class="img-caption">
                            <div class="box-holder">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="name-box">
                            <h3>Jenefir White</h3>
                            <span>Supervisor</span>
                        </div>
                        <p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
                    </div>
                    <a href="#" class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member img-cap-effect">
                    <div class="img-box">
                        <img src="/Content/images/team/3.jpg" alt="Awesome Image" />
                        <div class="img-caption">
                            <div class="box-holder">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="name-box">
                            <h3>Jenefir White</h3>
                            <span>Supervisor</span>
                        </div>
                        <p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
                    </div>
                    <a href="#" class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member img-cap-effect">
                    <div class="img-box">
                        <img src="/Content/images/team/4.jpg" alt="Awesome Image" />
                        <div class="img-caption">
                            <div class="box-holder">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="name-box">
                            <h3>Jenefir White</h3>
                            <span>Supervisor</span>
                        </div>
                        <p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
                    </div>
                    <a href=@Url.Action("/Contact") class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

